@font-face {
   font-family: champagne;
   src: url("Champagne.ttf");
}

body {
   font-family: champagne;
   font-weight: bold;
   margin: 0;
   padding: 0;
   text-transform: uppercase;
   height: 100vh;
}
.particles {
   position: fixed;
   right: 0;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
}
